/* header {
  width: 100%;
  font: 100 14px/1.5 "Interstate","Lucida Grande",Arial,sans-serif;
  background: #333;
  display: flex;
  flex-direction: row;
  height: 46px;
  transition: height .2s ease-in-out;
} */

/* .bar-left {
  display: flex;
  flex-direction: row;
} */
/* .fa-soundcloud {
  font-size: 47px;
  color: white;
  background: #f50;
} */

/* .bl {
  padding: 12px 0;  
  width: 104px;
  height: 46px;
  color:white;
  border-right: 1px solid #111;
  box-sizing: border-box;
  text-align: center;
} */

/* .bar-center {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 50%;
  height: 46px;
  color:white;
  text-align: center;
} */

/* .bc-search {
  color: #666;
  width: 95%;
  outline: 0;
  border: 0;
  background: #e5e5e5;
  text-align: center;
  position: relative;
} */
/* 
.bc-search2 {
  padding:8px;
  display:block;
  background: #e5e5e5;
  border:none;
  width:100%;
  border-radius:8px
} */

/* .fa-search {
  font-size: 31px;
  margin: 2px;
  border: 1px;
  border-radius: 20%;
  color: black;
  background: #e5e5e5;
  padding: 7px;
  position: relative;
} */
/* 
.bar-right {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 50%;
  height: 46px;
  color:white;
  text-align: center;
} */

/* .fa-user-circle {
  font-size: 31px;
  margin: 2px;
  border: 1px;
  border-radius: 20%;
  color: black;
  background: #e5e5e5;
  padding: 7px;
  position: relative;
} */


/*User Profile & Track Description Component*/

body {
  font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  color: black;
}

li {
  padding: 2px;
  color: grey;
}

/* modal features - Refer to ReportPage Component */
/* .up-modalWrapper {
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.up-modal {
  border-radius: 1%;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 38em;
  background-color: white;
}

.up-display-none {
  display: none;
} */

/*user profile container - Refer to UserProfile Component */
/* .up-container {
  padding: 10px;
} */

/*Track Description Starts*/
/* .utd-wrapper {
  display: flex;
  flex-direction: column;
} */

/* .utd-hash {
  display: flex;
  flex-direction: row;
} */

/* .utd-panel {
  width: 50em;
  position: relative;
} */

/* .utd-show {
  overflow: hidden;
  max-height: 9em;
}

.utd-hide {
  overflow: visible;
} */

/* .utd-toggle {
  border: none;
  position: absolute;
  color: grey;
} */
/* 
.utd-button-div {
  position: relative;
} */

/* .utd {
  margin: 10px;
  font-size: 14px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
} */

/* .up-fade-show {
  background: linear-gradient(transparent, white);
  height: 100px;
  margin-top: -100px;
  position: relative;
}

.up-fade-hide {
  position: relative;
} */

/*Track Description Ends*/
/* 
.up-hash {
  position: relative;
  display: inline-block;
  height: 20px;
  margin: 0 4px;
  padding: 0 7px;
  background: #999;
  border: 1px solid #999;
  border-left-width: 0;
  color: #fff;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 20px;
} */
/* 
.up-app {
  display: flex;
  flex-direction: row;
} */

/* .up-followcount {
  width: 20px;
  padding: 0px 10px 0px 5px;
  color:grey;
} */

/* .up-trackcount {
  width: 50px;
  margin: 0px 7px;
  color:grey;
} */

/* .up-report-button {
  border: none;
  background-color: inherit;
  padding: 5px 5px;
  font-size: 11px;
  color: grey;
  cursor: pointer;
  display: inline-block;
} */


/* .up-button {
  border-radius: 20%;
  text-align: center;
  font-size: 11px;
  padding: 2px 9px 2px 8px;
  height: 22px;
  line-height: 16px;
} */

/* .up-follow {
  background-color: #f50;
  border: 1px solid #f50;
  color: white;
}

.up-following {
  background-color: white;
  border: 1px solid #e5e5e5;
  color: #f50;
} */

/* .up-bt-show-more {
  border: none;
  font-size: 11px;
  color: grey;
} */
/* 
.up-photo {
  border-radius: 80%;
} */

/* .up-bolt {
  color: #f50;
} */

/* .up-username {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0px 10px 0px 0px;
  word-break: normal;
  text-transform: uppercase;
} */

/* hover features */
/* li:hover {
  color: black;
}
.black:hover {
  color:black;
}
.up-button:hover {
  border-color: #f50
} */