.header {
  width: 100%;
  font: 100 14px/1.5 "Interstate","Lucida Grande",Arial,sans-serif;
  background: #333;
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 46px;
  transition: height .2s ease-in-out;
}

.navAll {
  width: 960px;
  display: flex;
}

.left {
  display: flex;
  flex-direction: row;
}

.bl {
  padding: 12px 0;  
  width: 104px;
  height: 46px;
  color:white;
  border-right: 1px solid #111;
  box-sizing: border-box;
  text-align: center;
}

.right {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 50%;
  height: 46px;
  color:white;
  text-align: center;
}

.center {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 50%;
  height: 46px;
  color:white;
  text-align: center;
}
.bc-search {
  color: #666;
  width: 95%;
  outline: 0;
  border: 0;
  background: #e5e5e5;
  text-align: center;
  position: relative;
}


.search {
  padding:8px;
  display:block;
  background: #e5e5e5;
  border:none;
  height: 31px;
  width:100%;
  border-radius:8px
}

.fa-soundcloud {
  font-size: 47px;
  color: white;
  background: #f50;
}

.fa-search {
  font-size: 31px;
  margin: 2px;
  border: 1px;
  border-radius: 20%;
  color: black;
  background: #e5e5e5;
  padding: 7px;
  position: relative;
}

.fa-user-circle {
  font-size: 31px;
  margin: 2px;
  border: 1px;
  border-radius: 20%;
  color: black;
  background: #e5e5e5;
  padding: 7px;
  position: relative;
}