.navHeader {
  width: 100%;
  font: 100 14px/1.5 "Overpass",sans-serif;
  background: #333;
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 46px;
  transition: height .2s ease-in-out;
}

.navAll {
  width: 960px;
  display: flex;
}

.navLeft {
  display: flex;
  flex-direction: row;
}

.navBlock{
  padding: 12px 0;  
  width: 104px;
  height: 46px;
  color:#ccc;
  border-right: 1px solid #111;
  box-sizing: border-box;
  text-align: center;
}

.navBlock:hover{
  color:white
}

.navRight {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 50%;
  height: 46px;
  color:white;
  text-align: center;
}

.navCenter {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  position: relative;
  height: 46px;
  color:white;
  text-align: center;
}

.navSearch {
  width: 300px;
  padding:8px;
  display:block;
  background: #e5e5e5;
  border:none;
  height: 31px;
  border-radius:8px
}
