.rpModalWrapper {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 100;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.rpDisplayNone {
  display: none;
}

.rpHeader {
  font-size: 22px;
  line-height: 1;
  padding-bottom: 9px;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 24px;
  margin:10px;
}

.rpModal {
  border-radius: 1%;
  margin: 0 auto;
  top: 25%;
  left: 25%;
  width: 38em;
  font-size: 12px/1.4;
  background-color: white;
}

.reportText {
  color: #38d;
} 
.reportText:hover{
  color:black;
}

