.tdWrapper {
  display: flex;
  flex-direction: column;
  width: 40em;
  margin: 10px;
}

.tdPanel {
  width: 50em;
  position: relative;
}

.show {
  overflow: hidden;
  max-height: 9em;
}

.hide {
  overflow: visible;
}

.utd {
  margin: 10px;
  font-size: 14px;
  font-family: "Overpass", sans-serif;
  font-weight: 100;
  line-height: 1.6;
}

.up-fade-show {
  background: linear-gradient(transparent, white);
  height: 100px;
  margin-top: -100px;
  position: relative;
}

.up-fade-hide {
  position: relative;
}

.buttonDiv {
  position: relative;
}

.toggle {
  border: none;
  position: absolute;
  color: grey;
}

.hash {
  display: flex;
  flex-direction: row;
}